.container {
    margin: 0 auto
}

.top {
    display: flex;
    background: linear-gradient(to right, rgba(95, 46, 124, 1) 0%, rgba(67, 31, 92, 1) 100%);
    color: whitesmoke;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;

}

.datum-top {
    flex-basis: 50%;
    text-align: center;
}


.top-navigacija {
    display: flex;
    align-items: center;
   
}

.top-navigacija a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
}

.navlink-top {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 1rem;
    gap: 0;
}

.dugme-top {
    background-color: #AE5BA1;
    font-size: 14px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    color: #fff;
    padding: 0px 30px;
    background-color: #AE5BA1;
    border-radius: 4px;
    box-sizing: border-box;
    margin: -1rem 4rem;
}

.logo {
    text-align: center;
    background-image: url('../slike/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 6rem;
    height: 3rem;
    
}

.navigacija {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, rgba(95, 46, 124, 1) 0%, rgba(67, 31, 92, 1) 100%);
    color: whitesmoke;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-top: 2px solid #16A954;
    border-bottom: 2px solid #16A954;

}

.navigacija > * {
    margin-inline: 1rem;
}

.nav-meni {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.nav-meni a {
    color: whitesmoke;
    text-decoration: none;
    padding-inline: 0.5rem;
}

#lupa {
    fill: white;
}